body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 2em;
}

p {
    font-weight: 300;
}
/*:::::::::::::::::::::::::HEADER:::::::::*/
header {
    padding: 0.1em 0em;
    text-align: center;
}

.header_logo a {
    color: black;
}

.fa-arrow-left {
    float: left;
    margin-left: 1em;
    font-size: 3em;
}

.header_logo p {
    margin-right: 1em;
    font-family: "Shrikhand", sans-serif;
    font-weight: bolder;
    font-size: 4em;

}

.header_banniere {
    width: 100%;
    height: 30em;
}

.header_banniere img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*:::::::::::::::::::::::::MAIN:::::::::::*/
main {
    padding-left: 2em;
    border-radius: 0% 0% 0% 0%;
}

.main_titre {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    margin-left: 5em;
}

input {
    height: 0;
    float: right;
    margin-right: 5em;
}

input[type=checkbox]:before { 
    content:""; 
    display:inline-block; 
    width:1.85em; 
    height:1.61em;  
}

input[type=checkbox]:before { 
    background: url(images/logo/coeur_vide.png);
}

input[type=checkbox]:checked:before { 
    background: url(images/logo/coeur_like.png);
}
.main_selection_TitrePosition {
    display: flex;
    justify-content: center;
}
.main_selection_titre {
    font-size: 1.5em;
    width: fit-content;
    border-bottom: solid #99E2D0;
}

.main_selection ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main_selection ul li {
    margin: 1em 0em 1em 0em;
    padding: 1.5em 0em 1em 1.3em;
    width: 93%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 3px 3px 2px grey;
    font-size: 1.2em;
    font-weight: bold;
}

.main_selection ul li p b {
    float: right;
    margin-right: 3em;
}

.main_selection_valide {
    display: flex;
    justify-content: end;
    background-color: #99E2D0;
    width: 5em;
}

.fa-circle-check {
    font-size: 2em;
    color: white;
}

.header_btn {
    text-align: center;
    margin: 3em 0em;
}

.header_btn a {
    background: linear-gradient(0.25turn, #FF79DA, #9356DC);
    padding: 1em 4em 1em 4em;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 3px 3px 2px grey;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.header_btn a:hover {
    box-shadow: 0px 0px 0px 0px;
}

/*:::::::::::::::::::::::::FOOTER:::::::::*/
footer {
    background-color: rgb(44, 42, 42);
}
.footer_logo p {
    font-family: "shrikhand", sans-serif;
    font-size: 2em;
    color: white;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.footer_liste {
    padding: 1em 0em 1em 2em;
}

.footer_liste_icon {
    display: flex;
    flex-direction: row;
}

.footer_liste p {
    color: white;
    font-size: 1.2em;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    padding-right: 0.5em;
}

/*:::::::::::::::::::::::::MEDIA::::::::::*/
