body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 2em;
}

p {
    font-weight: 300;
}
/*:::::::::::::::::::::::::HEADER:::::::::*/
header {
    padding: 0.1em 0em;
    text-align: center;
}

.header_logo a {
    color: black;
}

.fa-arrow-left {
    float: left;
    margin-left: 1em;
    font-size: 3em;
}

.header_logo p {
    margin-right: 1em;
    font-family: "Shrikhand", sans-serif;
    font-weight: bolder;
    font-size: 4em;

}

.header_banniere {
    width: 100%;
    height: 30em;
}

.header_banniere img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*:::::::::::::::::::::::::MAIN:::::::::::*/
main {
    background-color: white;
    padding-left: 2em;
    border-radius: 0% 0% 0% 0%;
    transform: translateY(-46px);
    border-radius: 55px 55px 0px 0px;
    border-top: solid 1px;

 
}

.main_titre {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    margin-left: 5em;
}

input {
    height: 0;
    float: right;
    margin-right: 5em;
}

input[type=checkbox]:before { 
    content:""; 
    display:inline-block; 
    width:1.85em; 
    height:1.61em;  
}

input[type=checkbox]:before { 
    background: url(images/logo/coeur_vide.png);
}

input[type=checkbox]:checked:before { 
    background: url(images/logo/coeur_like.png);
}
.main_selection_TitrePosition {
    display: flex;
    justify-content: center;
}
.main_selection_titre {
    font-size: 1.5em;
    width: fit-content;
    border-bottom: solid #99E2D0;
}

.main_selection_menu {
    position: relative;
    margin: 2em 2em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 2px grey;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.main_selection_menu_texte {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.5s;
}

.main_selection_menu_texte_dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_selection_menu_texte b,
.main_selection_menu_texte_dots p {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;

}

.main_selection_menu_texte b {
    font-size: 1.2em;
    font-weight: bold;
}

.main_selection_menu_texte p b {
    right: 0;
}

.main_selection_menu:hover .main_selection_valide {
    transition: transform 0.5s;
    transform: translate(10px);
}

.main_selection_menu:hover .main_selection_menu_texte {
    justify-content: space-between;
    display: flex;
    width: calc(100% - 110px);
}

.main_selection_valide {
    height: 100%;
    transition: transform 0.5s;
    position: absolute;
    background-color: #99E2D0;
    border-radius: 0px 20px 20px 0px;
    width: 7em;
    top: 0;
    right: 0;
    transform: translate(100%);
}

.fa-circle-check {
    font-size: 2em;
    color: white;
    padding: 1.2em;
    transition: transform .8s ease-in-out;
    transform: rotate(0turn);
}

.main_selection_menu:hover .fa-circle-check {
    transform: rotate(-1turn);
}

.main_selection_menu:hover .main_selection_valide {
    border-radius: 0px 25px 25px 0px;
  }

.fa-circle-check {
    font-size: 2em;
    color: white;
    transition: transform .8s ease-in-out;
    transform: rotate(0turn);
}

.fa-circle-check:hover {
    transform: rotate(-1turn);
}

.header_btn {
    text-align: center;
    margin: 3em 0em;
}

.header_btn a {
    background: linear-gradient(0.25turn, #FF79DA, #9356DC);
    padding: 1em 4em 1em 4em;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 3px 3px 2px grey;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.header_btn a:hover {
    box-shadow: 0px 0px 0px 0px;
}

/*:::::::::::::::::::::::::FOOTER:::::::::*/
footer {
    background-color: rgb(44, 42, 42);
}
.footer_logo p {
    font-family: "shrikhand", sans-serif;
    font-size: 2em;
    color: white;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.footer_liste {
    padding: 1em 0em 1em 2em;
}

.footer_liste_icon {
    display: flex;
    flex-direction: row;
}

.footer_liste p {
    color: white;
    font-size: 1.2em;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    padding-right: 0.5em;
}

/*:::::::::::::::::::::::::MEDIA::::::::::*/

@media screen and (max-width: 600px) {

    .header_logo p {
        font-size: 3em;
    }
    
  }

  @media screen and (max-width: 400px) {

    .header_logo p {
        font-size: 2em;
    }
    
  }