body {
    background: linear-gradient( aquamarine, blue, aquamarine);
}

main {
    margin-top: 10%;
}

main div {
    position: absolute;
    margin-left: 25em;
    margin-top: -10%;
}

main div img {
    height: 50em;
}

.charge{
    margin-left: 31em;
    margin-top: -3em;
}

.charge p{
    color: aqua;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    font-size: 5em;
    font-weight: bolder;
    font-family: sans-serif;
}

.loader {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: aquamarine;
    width: 110px;
    height: 110px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
  .loader::before {
    left: auto;
    right: 0;
    background: aquamarine;
    transform: translate(50%, 100%);
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


/* .loader {
  width: 208px;
  height: 208px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 6px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 192px;
  height: 192px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
     */