body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 2em;
}

/*:::::::::::::::::::::::::HEADER:::::::::*/
header {
    text-align: center;
}

.header_logo{
    position: relative;
    box-shadow: 0px 6px 3px -2px grey;
}

.header_logo img {
    padding: 1em 0em 1em 0em;
}

.header_localisation {
    background-color: lightgray;
    padding: 2em 0em 2em 0em;
    margin-bottom: 2em;
}

.header_localisation p {
    font-size: 1.5em;
    font-weight: bold;
}

.fa-location-dot {
    font-size: 1.2em;
    padding-right: 1em;
}

.header_texte b, p {
font-size: 2em;
}

.header_btn {
    margin: 3em 0em;
}

.header_btn a {
    background: linear-gradient(0.25turn, #FF79DA, #9356DC);
    padding: 1em 2.2em 1em 2.2em;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 3px 3px 2px grey;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.header_btn a:hover {
    box-shadow: 0px 0px 0px 0px;
}
/*:::::::::::::::::::::::::MAIN:::::::::::*/
                                        /*MAIN1*/
.main_fonctionnement {
    margin-bottom: 3em;
}
.main_fonctionnement_titre {
    margin-left: 2em;
}

.main_fonctionnement_list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_fonctionnement_list ul li:hover {
    background-color: rgb(194, 179, 194);
}

.main_fonctionnement_list ul li {
    margin: 1em 0em 1em 0em;
    padding: 1.5em 1.3em 1.5em 1.3em;
    width: 13em;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 3px 3px 2px grey;
    font-size: 1.2em;
    font-weight: bold;
}

.main_fonctionnement_list ul li span {
    position: absolute;
    margin-left: -2em;
    margin-top: -0.2em;
    text-align: center;
    background: #9356DC;
    color: white;
    font-size: 1.2em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    border-radius: 50%;
} 

.fa-mobile-screen-button,
.fa-bars,
.fa-store {
    color: gray;
    font-size: 1.2em;
    padding-right: 0.5em;
}
                                        /*MAIN2*/
.main_restaurant {
    margin-bottom: 3em;
}

.main_restaurant_titre {
    margin-left: 2em;
}

.main_restaurant a {
    text-decoration: none;
}

.main_restaurant_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0em 2em;
}


.main_restaurant_card figure {
    width: 40em;
    height: 25em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 3px 2px grey;
}

.main_restaurant_card figure button {
    position: absolute;
    margin: 0.9em 0em 0em 24em;
    background-color: #99E2D0;
    color: #008766;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 0.5em 1em 0.5em 1em;
}

.main_restaurant_card figure img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
}

.main_restaurant_card figure:hover {
    background-color: rgb(194, 179, 194);
}

.main_restaurant_card figure img:hover {
    opacity: 0.8;
}

.main_restaurant_card figure figcaption b, p {
    color: black;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
    font-size: 1.5em;
}

.like {
    float: right;
    margin-right: 2em;
}

/*:::::::::::::::::::::::::FOOTER:::::::::*/
footer {
    background-color: rgb(44, 42, 42);
}
.footer_logo p {
    font-family: "shrikhand", sans-serif;
    font-size: 2em;
    color: white;
}

.footer_liste {
    padding: 1em 0em 1em 2em;
}

.footer_liste_icon {
    display: flex;
    flex-direction: row;
}

.footer_liste p {
    color: white;
    font-size: 1.2em;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    padding-right: 0.5em;
}

.coeur {
    display: none;
}
.coeur_carre {
    margin: 10%;
    width: 15px;
    height: 15px;
    background: #9356DC;
    position: relative;
    transform: rotate(45deg);
}

.coeur_rond {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9356DC;
    position: absolute;
}

.coeur_rond:nth-child(1) {
    top: -50%;
}

.coeur_rond:nth-child(2) {
    left: -50%;
}