/*LOADER*/
/* .box_loader {
    position: absolute;
    padding: 20em 0em 0em 50em;
} */
/* .loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear;
    animation-iteration-count: 3;
  }
   */
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }

/*LOADER*/
body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 2em;
}

/*:::::::::::::::::::::::::HEADER:::::::::*/
header {
    text-align: center;
}

.header_logo{
    position: relative;
    box-shadow: 0px 6px 3px -2px grey;
}

.header_logo img {
    padding: 0.5em 0em 0.5em 0em;
}

.header_localisation {
    background-color: lightgray;
    padding: 2em 0em 2em 0em;
    margin-bottom: 2em;
}

.header_localisation p {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 4em;
}

.fa-location-dot {
    font-size: 1.2em;
    padding-right: 1em;
}

.header_texte b, p {
font-size: 2em;
}

.header_btn {
    margin: 3em 0em;
}

.header_btn a {
    background: linear-gradient(0.25turn, #FF79DA, #9356DC);
    padding: 1em 2.2em 1em 2.2em;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 3px 3px 2px grey;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.header_btn a:hover {
    box-shadow: 0px 0px 0px 0px;
}
/*:::::::::::::::::::::::::MAIN:::::::::::*/
                                        /*MAIN1*/
.main_fonctionnement {
    margin-bottom: 3em;
}
.main_fonctionnement_titre {
    margin-left: 2em;
}

.main_fonctionnement_list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_fonctionnement_list ul li:hover {
    background-color: rgb(194, 179, 194);
}

.main_fonctionnement_list ul li {
    margin: 1em 0em 1em 0em;
    padding: 1.5em 1.3em 1.5em 1.3em;
    width: 13em;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 3px 3px 2px grey;
    font-size: 1.2em;
    font-weight: bold;
}

.main_fonctionnement_list ul li span {
    position: absolute;
    margin-left: -2em;
    margin-top: -0.2em;
    text-align: center;
    background: #9356DC;
    color: white;
    font-size: 1.2em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    border-radius: 50%;
} 

.fa-mobile-screen-button,
.fa-bars,
.fa-store {
    color: gray;
    font-size: 1.2em;
    padding-right: 0.5em;
}
                                        /*MAIN2*/
.main_restaurant {
    margin-bottom: 3em;
}

.main_restaurant_titre {
    margin-left: 2em;
}

.main_restaurant a {
    text-decoration: none;
}

.main_restaurant_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.main_restaurant_card figure {
    position: relative;
    width: 40em;
    height: 25em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 3px 2px grey;
}

.btn_nouveau {
    position: absolute;
    right: 0;
    margin: 20px;
    background-color: #99E2D0;
    color: #008766;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 0.5em 1em 0.5em 1em;
}

.main_restaurant_card figure img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
}

.main_restaurant_card figure:hover {
    background-color: rgb(194, 179, 194);
}

.main_restaurant_card figure img:hover {
    opacity: 0.8;
}

.main_restaurant_card figure figcaption b, 
.main_restaurant_card figure figcaption p {
    color: black;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
    font-size: 1.5em;
}

input {
    height: 0;
    float: right;
    margin-right: 2em;
}

input[type=checkbox]:before { 
    content:""; 
    display:inline-block; 
    width:1.85em; 
    height:1.59em;  
}

input[type=checkbox]:before { 
    background: url(images/logo/coeur_vide.png);
}

input[type=checkbox]:checked:before { 
    background: url(images/logo/coeur_like.png);
}

/*:::::::::::::::::::::::::FOOTER:::::::::*/
footer {
    background-color: rgb(44, 42, 42);
}
.footer_logo p {
    font-family: "shrikhand", sans-serif;
    font-size: 2em;
    color: white;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.footer_liste {
    padding: 1em 0em 1em 2em;
}

.footer_liste_icon {
    display: flex;
    flex-direction: row;
}

.footer_liste p {
    color: white;
    font-size: 1.2em;
    padding: 0.3em 0em 0em 2em;
    margin: 0;
}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    padding-right: 0.5em;
}

/*:::::::::::::::::::::::::MEDIA::::::::::*/
@media screen and (max-width: 800px) {

    .main_fonctionnement_list ul li {
        margin: 1em 1em 1em 1em;
        width: 15em;
    }

    .main_restaurant_card figure {
        width: 35em;
        height: 20em;
    }

    .main_restaurant_card figure button {
        margin: 0.9em 0em 0em 20em;
    }

    input {
        height: 0;
        float: right;
        margin-right: 2em;
    }

    .main_restaurant_card figure figcaption b, p {
        font-size: 1.3em;
    }
  }

  @media screen and (max-width: 695px) {

    .main_fonctionnement_list ul li {
        margin: 1em 1em 1em 1em;
        width: 13em;
    }

    .main_restaurant_card figure {
        width: 25em;
        height: 19em;
    }

    .main_restaurant_card figure button {
        margin: 0.9em 0em 0em 12.2em;
    }

    .main_restaurant_card figure figcaption b, p {
        font-size: 1em;
    }
  }

@media screen and (max-width: 425px) {

    .main_fonctionnement_list ul {
        margin-left: -4em;
    }

    .main_restaurant_card {
        margin: -1.5em;
    }

    .header_logo img {
        width: 20em;
    }
  }